<div class="custom-toast">
    <div class="toast-container">
        {% for message in messages %}
            {% if 'admin' in message.extra_tags or not message.extra_tags %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
                <div class="toast-header bg-{{ message.tags }} text-white">
                    <i class="bi 
                        {% if message.tags == 'success' %}bi-check-circle-fill
                        {% elif message.tags == 'danger' %}bi-exclamation-octagon-fill
                        {% elif message.tags == 'warning' %}bi-exclamation-triangle-fill
                        {% else %}bi-info-circle-fill{% endif %}"></i>
                    <strong class="me-auto">Administración</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>